*.test.js
*.config.js
.eslint*
.prettier*
jest*
tests/
coverage/
.github/
.editorconfig
.gitattributes
.husky/
.browserlistrc
.editorconfig
babel.config.js
CHANGELOG.md
commitlint.config.js
CONTRIBUTING.md
jest.config.js
vue.config.js
